<gl-lrcontrol [leftwidth]="260">
    <ng-template let-scope="psnData" #left>

        <div class="search">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="输入查询内容">
                <button pButton type="button" label="查询" class="ui-button"></button>
            </div>
        </div>
        <div class="treeview">
            <p-tree [value]="treeData" (onNodeExpand)="nodeExpand($event)" selectionMode="single" [style]="{ 'border': 'none' }" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
        </div>
    </ng-template>
    <ng-template #right>
        <p-tabMenu [model]="items" [style]="{ 'border': 'none' }"></p-tabMenu>
        <div class="collective">
            <p-checkbox name="groupname" value="all" [(ngModel)]="selectedValues" label="全民"></p-checkbox>
            <p-checkbox name="groupname" value="1" [(ngModel)]="selectedValues" label="大集体"></p-checkbox>
            <p-checkbox name="groupname" value="2" [(ngModel)]="selectedValues" label="小集体"></p-checkbox>
        </div>
        <div class="psntbl">
            <p-dataTable [value]="tblData" [rows]="15" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,15,25]" [style]="{ 'text-align' : 'center' } ">
                <p-column header="姓名" field="brand"></p-column>
                <p-column header="性别" field="lastYearSale"></p-column>
                <p-column header="人员归属" field="thisYearSale"></p-column>
                <p-column header="身份证号码" field="lastYearProfit"></p-column>
                <p-column header="岗级" field="thisYearProfit"></p-column>
                <p-column header="薪级" field="thisYearProfit"></p-column>
                <p-column header="薪资数" field="thisYearProfit"></p-column>
                <p-column header="薪点点值" field="thisYearProfit"></p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <span>操作</span>
                    </ng-template>
                    <ng-template let-row="rowData" pTemplate="body">
                        <el-button type="text" size="small" (click)="selectRow(row)">编辑</el-button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </ng-template>
</gl-lrcontrol>