.gl-salarcore {
    background-color: #fff;
    padding: 16px;
}

.gl-panel {
    position: absolute;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 0;
    overflow: auto;
}