.wapper {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
}

.wapper-right {
    float: right;
}

.dataTbl{
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}