<gl-udcontrol>
    <ng-template #top>
        <el-breadcrumb prevent="true" (next)="handle($event)">
            <el-breadcrumb-item to="index">人员管理</el-breadcrumb-item>
            <el-breadcrumb-item to="">人员信息</el-breadcrumb-item>
        </el-breadcrumb>
    </ng-template>
    <ng-template #bottom>
        <gl-lrcontrol [leftwidth]="230">
            <ng-template #left>
                <div class="gl-south">
                    <div class="gl-psnmsg">
                        <img width="116" height="130" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAACCBAMAAABlf/EQAAAAGFBMVEXMzMwAAAB/f3+ysrJMTEwzMzOZmZlmZmYV/9YEAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA10lEQVRYhe3RsQrCMBSF4UNuqK9RpOiaoegaFOnq4AMUUbIGLPr63thaByHG/XxQaEL+Jm0BIiIiIiIiIqNXDWw7N0/VkPUdCPd8KQegPUL2mFMdGmeiiYs6m14sKu9hP3umofIWOGZTZyHQtOr1BBG6Pg31ATEAt/yJbdoB7a7R0wXsXxvq3Q5LYFWSXpEqM7gp3TT9qjAN47oTplTf81yYtoD+CruJc+q3GI//K9Uv7NPS8E7FWye+JJVu6CEO1ZguHoPTKZdPJ/I9lLKSiIiIiIiI/vQEwH8bmGGFI7kAAAAASUVORK5CYII=">
                        <p>姓名：{{ personData.A0101 }}</p>
                        <p>身份证：{{ personData.A0177 }}</p>
                    </div>
                    <div class="gl-west">
                        <ul class="set-menu">
                            <li class="item-menu" *ngFor="let set of setList" (click)="selectSet(set)" [class.is-active]="set.SetID === setdata.SetID">
                                {{ set.SetName }}
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template #right>
                <div class="set-main" *ngIf="isMain">
                    <gl-headline [title]="setdata.SetName"></gl-headline>
                    <div class="set-main-content">
                        <el-form [formGroup]="validateForm" [inline]="true" label-width="200px">
                            <el-form-item *ngFor="let field of selectSetField | sysField" [label]="field.ItemName" [required]="true">
                                <el-input [formControlName]="field.ItemID"></el-input>
                            </el-form-item>
                            <div [ngStyle]="{ 'margin-left.px': '160' }">
                                <el-button type="primary" (click)="saveB03Data()">更新</el-button>
                            </div>
                        </el-form>
                    </div>
                </div>

                <div class="set-syrypx" *ngIf="!isMain">
                    <gl-headline [title]="setdata.SetName">
                        <ng-template #container>
                            <el-button type="text" (click)="addSetChild()">增加记录</el-button>
                        </ng-template>
                    </gl-headline>
                    <p-dataTable [value]="tblData" [resizableColumns]="true" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalRecords" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50]" [style]="{ 'text-align' : 'center' } ">
                        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header">
                        </p-column>
                    </p-dataTable>
                </div>
            </ng-template>
        </gl-lrcontrol>
    </ng-template>
</gl-udcontrol>