<div class="gl-layout">
    <div class="gl-salarcore">
        <div class="wapper">
            <el-button-group>
                <el-button type="primary" size="mini">选择薪级工资标准表</el-button>
                <el-button type="primary" size="mini">修改</el-button>
            </el-button-group>
            <span>已选择：岗位薪点标准表</span>
        </div>

        <div class="wapper-right">
            <el-button type="primary" size="mini">输出</el-button>
        </div>
    </div>
    <div class="gl-panel">
        <app-headline [title]="title"></app-headline>
        <div class="gl-content">
        </div>
    </div>
</div>