.sidebar {
    height: 100%;
    padding: 0 20px;
    background-color: #3f9ffe;
}

.syscore {
    height: 100%;
    line-height: 60px;
    float: right;
}

.drop-text {
    color: #fff;
}

.el-dropdown {
    color: #fff;
}