<gl-udcontrol>
    <ng-template #top>
        <el-breadcrumb prevent="true" (next)="handle($event)">
            <el-breadcrumb-item to="index">人员管理</el-breadcrumb-item>
            <el-breadcrumb-item to="subset-list">人员信息</el-breadcrumb-item>
            <el-breadcrumb-item to="">子集信息</el-breadcrumb-item>
        </el-breadcrumb>
    </ng-template>
    <ng-template #bottom>
        <gl-headline [title]="setName"></gl-headline>
        <div class="set-child-fields">
            <el-form [formGroup]="validateForm" [inline]="true" label-width="240px">
                <el-form-item *ngFor="let field of selectSetField | sysField" [label]="field.ItemName" [required]="true">
                    <el-input [formControlName]="field.ItemID"></el-input>
                </el-form-item>
                <div [ngStyle]="{ 'margin-left.px': '160' }">
                    <el-button type="primary" (click)="saveB03Data()">更新</el-button>
                </div>
            </el-form>
        </div>
    </ng-template>
</gl-udcontrol>