<gl-udcontrol>
    <ng-template #top>
        <el-button-group>
            <el-button type="primary" size="mini">新增分组</el-button>
            <el-button type="primary" size="mini">新增同层分组</el-button>
            <el-button type="primary" size="mini">新增下层分组</el-button>
            <el-button type="primary" size="mini">删除分组</el-button>
        </el-button-group>
    </ng-template>
    <ng-template #bottom>
        <app-headline [title]="'授权信息'"></app-headline>
        <div class="gl-content">
        </div>
    </ng-template>
</gl-udcontrol>