<gl-udcontrol [padding]="20">
    <ng-template #top>
        <el-breadcrumb separator-class="el-icon-arrow-right" (next)="handle($event)" prevent="true">
            <el-breadcrumb-item to="back">模块管理</el-breadcrumb-item>
            <el-breadcrumb-item to=" ">添加模块</el-breadcrumb-item>
        </el-breadcrumb>
    </ng-template>
    <ng-template #bottom>
        <app-headline [title]=" '添加模块' "></app-headline>

        <div class="gl-content">
            <el-form label-width="100px" size="small">

                <el-form-item label="早餐">
                    <el-input></el-input>
                </el-form-item>

                <el-form-item label="午餐">
                    <el-input></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary">提交</el-button>
                </el-form-item>

            </el-form>
        </div>
    </ng-template>
</gl-udcontrol>