<h1>主页</h1>
<el-table [(model)]="tableData" [scroll-x]="true" center="all">
    <el-table-column model-key="ItemID" label="PClassID" width="140">
    </el-table-column>
    <el-table-column model-key="ItemLenght" label="长度" width="140">
    </el-table-column>
    <el-table-column model-key="ItemName" label="人员库" width="140">
    </el-table-column>
</el-table>

<el-card class="box-card">
    <ng-template #header>
        <div class="clearfix">
            <span style="line-height: 36px;">数据:</span>
        </div>
    </ng-template>
    <div *ngFor="let item of tableData" class="text item">
        ItemID: {{ item.ItemID }} 字段名称： {{ item.ItemName }}
    </div>
</el-card>

<el-card class="box-card">
    <ng-template #header>
        <div class="clearfix">
            <span style="line-height: 36px;">在线用户:</span>
        </div>
    </ng-template>
    <div *ngFor="let user of userOnline" class="text item">
        用户名： {{ user.text }} 帐号： {{ user.imgurl }}
    </div>
</el-card>