<div class="gl-layout">
    <div class="gl-aside">
        <div class="gl-logo">
            <img src="assets/sysimgs/logo.png" alt="">
        </div>
        <div class="gl-menu">
            <app-menu></app-menu>
        </div>
    </div>
    <div class="gl-area">
        <div class="gl-content">
            <div class="gl-header">
                <!-- <app-header></app-header> -->
            </div>
            <div class="gl-main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>