<el-menu model="2" class="el-menu-vertical-demo" (modelChange)="handle($event)">
    <el-menu-item index="client/index"><i class="el-icon-menu"></i>主页</el-menu-item>
    <el-submenu index="1">
        <ng-template #title>
            <i class="el-icon-message"></i>工资管理
        </ng-template>
        <el-menu-item index="client/salarypost">
            薪级工资标准
        </el-menu-item>
        <el-menu-item index="client/salaryentering">
            薪级工资录入
        </el-menu-item>
    </el-submenu>
    <el-menu-item index="client/psnedit"><i class="el-icon-menu"></i>人员管理</el-menu-item>
    <el-menu-item index="client/unit"><i class="el-icon-setting"></i>机构管理</el-menu-item>
    <el-menu-item index="admin/module-manage"><i class="el-icon-menu"></i>模块管理</el-menu-item>
</el-menu>