<gl-udcontrol>
    <ng-template #top>
        <el-button-group>
            <el-button type="primary" size="mini" (click)="routerPage('organ-option')">机构信息</el-button>
            <el-button type="primary" size="mini" (click)="routerPage('unit-rename')">机构更名</el-button>
            <el-button type="primary" size="mini" (click)="routerPage('legal-represet')">法人负责人</el-button>
            <el-button type="primary" size="mini" (click)="routerPage('intell-super')">董事\监事</el-button>
        </el-button-group>
    </ng-template>
    <ng-template #bottom>
        <gl-lrcontrol [leftwidth]="260">
            <ng-template let-scope="psnData" #left>
                <div class="treeview">
                    <p-tree [value]="treeData" (onNodeExpand)="nodeExpand($event)" selectionMode="single" [style]="{ 'border': 'none' }" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
                </div>
            </ng-template>
            <ng-template #right>
                <router-outlet></router-outlet>
            </ng-template>
        </gl-lrcontrol>
    </ng-template>
</gl-udcontrol>