/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";

/*导入element样式*/

@import "~element-angular/theme/index.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    overflow: hidden;
}


/*element控件*/

.el-menu {
    border: none;
}