<gl-lrcontrol [leftwidth]="260">
    <ng-template let-scope="psnData" #left>
        <p-tree [value]="treeData" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" [style]="{ 'border': 'none' }"></p-tree>
    </ng-template>
    <ng-template #right>
        <gl-udcontrol>
            <ng-template #top>
                <el-button-group>
                    <el-button type="primary" size="mini" (click)="selectPsn()">选择人员</el-button>
                    <el-button type="primary" size="mini">输出</el-button>
                </el-button-group>
            </ng-template>
            <ng-template #bottom>
                内容
            </ng-template>
        </gl-udcontrol>
    </ng-template>
</gl-lrcontrol>