<gl-lrcontrol [leftwidth]="260">
    <ng-template let-scope="psnData" #left>
        <p-tree [value]="treeData" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" [style]="{ 'border': 'none' }"></p-tree>
    </ng-template>
    <ng-template #right>
        <gl-udcontrol [setTop]="true">
            <ng-template #top>
                <el-button-group>
                    <el-button type="primary" size="mini" (click)="selectPsn()">选择人员</el-button>
                    <el-button type="primary" size="mini">输出</el-button>
                </el-button-group>
            </ng-template>
            <ng-template #bottom>
                <gl-headline [title]="'员工薪资录入'"></gl-headline>
                <div class="tblControl">
                    <p-dataTable [value]="tblData" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [style]="{ 'text-align' : 'center' } ">
                        <p-column header="姓名" field="brand"></p-column>
                        <p-column header="性别" field="lastYearSale"></p-column>
                        <p-column header="人员归属" field="thisYearSale"></p-column>
                        <p-column header="身份证号码" field="lastYearProfit"></p-column>
                        <p-column header="岗级" field="thisYearProfit"></p-column>
                        <p-column header="薪级" field="thisYearProfit"></p-column>
                        <p-column header="薪资数" field="thisYearProfit"></p-column>
                        <p-column header="薪点点值" field="thisYearProfit"></p-column>
                        <p-column>
                            <ng-template pTemplate="header">
                                <span>操作</span>
                            </ng-template>
                            <ng-template let-row="rowData" pTemplate="body">
                                <el-button type="text" size="small" (click)="selectRow(row)">编辑</el-button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </ng-template>
        </gl-udcontrol>
    </ng-template>
</gl-lrcontrol>