<gl-lrcontrol [leftwidth]="260">
    <ng-template let-scope="psnData" #left>
        <div class="search">
            <div class="ui-inputgroup">            
                <input type="text" pInputText placeholder="输出查询内容" >
                <button pButton type="button" label="查询"></button>        
            </div>
        </div>
        <div class="treeview">
            <p-tree [value]="treeData" (onNodeExpand)="nodeExpand($event)" selectionMode="single" [style]="{ 'border': 'none' }" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" [loading]="loading"></p-tree>     
        </div>    
    </ng-template>
    <ng-template #right>
        <gl-udcontrol [setTop]="true">
            <ng-template #top>
                <el-button-group>
                    <el-button type="primary" size="mini" (click)="selectPsn()">选择人员</el-button>
                    <el-button type="primary" size="mini">输出</el-button>
                </el-button-group>
            </ng-template>
            <ng-template #bottom>
                <gl-headline [title]="'员工薪资录入'"></gl-headline>
                <div class="tblControl">
                    <p-growl [(value)]="msgs"></p-growl>
                    <p-dataTable [value]="tblData" [rows]="15" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,15,25]" [style]="{ 'text-align' : 'center' } " [loading]="tableLoading">
                        <p-column header="姓名" field="brand"></p-column>
                        <p-column header="性别" field="lastYearSale"></p-column>
                        <p-column header="人员归属" field="thisYearSale"></p-column>
                        <p-column header="身份证号码" field="lastYearProfit"></p-column>
                        <p-column header="岗级" field="thisYearProfit"></p-column>
                        <p-column header="薪级" field="thisYearProfit"></p-column>
                        <p-column header="薪资数" field="thisYearProfit"></p-column>
                        <p-column header="薪点点值" field="thisYearProfit"></p-column>
                        <p-column>
                            <ng-template pTemplate="header">
                                <span>操作</span>
                            </ng-template>
                            <ng-template let-row="rowData" pTemplate="body">
                                <el-button type="text" size="small" (click)="selectRow(row)">编辑</el-button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </ng-template>
        </gl-udcontrol>
    </ng-template>
</gl-lrcontrol>